/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/

html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

/***
Global Styles
 */

body {
	font-family: monospace, "Courier New";
}

section {
	padding: 2.75rem 0;
}

/***
Header Styles
 */

header {
	background-color: #333;
	color: lime;
}

header h1 {
	display: inline-block;
	margin-right: 2rem;
}

/***
Welcome Styles
 */

img[alt="welcome to my homepage"]{
	display: block;
	margin: 0 auto 2rem;
}

.instructions-wrapper {
	display: flex;
	align-items: flex-start;
	border: 3px solid black;
	padding: 20px;
}

.instructions-wrapper img {
	width: 250px;
}

.instructions-content {
	flex: 1;
	padding-right: 2rem;
}

.instructions-content h2 {
	margin-top: 0;
}

/***
About Me Styles
 */

section.about-me {
	background-color: blue;
	color: white;
}

.about-me img {
	width: 300px;
	float: left;
	margin-right: 2rem;
	border: 3px solid white;
}

.about-me p span {
	color: yellow;
	font-style: italic;
}



body {
	margin-left: 10px;
}

h1 {
	display: inline;
	font-style: bold;
	font-family: Courier, sans-serif;
}

em {
	display: inline;
	font-family: Arial, serif;
	padding-left: 20px;
}

#img-welcome {
	align-content: center;
}

header {
	background-color: #1c3131;
	color: lime;
	padding: 25px
}

h2 {
	text-align: right;
}

.instructions-wrapper {
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0, 0, 0);
	padding: 45px;
}

#img-janeway {
	float: right;
}

.about-me {
	background-color: blue;
	color: white;
	padding-top: 40px;
	padding-bottom: 20px;
}

.about-me h2 {
	float: right;
	text-align: left;
}

.about-me p {
	color: whitesmoke;
}

span {
	font-style: italic;
	color: #faeebf;
}
.form-wrapper, h2 {
	text-align: left;
}

table {
	width: 100%;
	border: .50px solid white;
	color: lime;
}

td, th {
	background-color: rgba(44, 44, 46, 0.88);
	padding: 15px;
	text-align: left;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form-wrapper {
	background-color: green;
	color: lime;
	padding: 10px;
}

.form-wrapper label {
	display: block;
	padding: 5px;
}

.form-wrapper input {
	padding: 5px;
}

button {
	background-color: lime;
	border: none;
	padding: 5px;
	width: 10%
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}